<div class="card bg-transparent border rounded-3">
  <div class="card-header bg-transparent border-bottom">
    <h5 class="card-header-title mb-0">Update email</h5>
  </div>

  <div class="card-body">
    <p>
      Your current email address is
      <span class="text-primary">example&#64;gmail.com</span>
    </p>

    <form>
      <label class="form-label">Enter your new email id</label>
      <input class="form-control" type="email" placeholder="Enter new email" />
      <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-primary mb-0">Update email</button>
      </div>
    </form>
  </div>
</div>
