<h1 class="mb-4">HTML and CSS: Design and Build Websites (Paperback)</h1>

<div class="d-flex align-items-center mb-4">
  <h2 class="me-3 mb-0">4.5</h2>
  <div>
    <ul class="list-inline mb-0">
      <ng-template #t let-fill="fill">
        <i class="far fa-star text-warning me-1">
          @if (fill > 0) {
            <i
              class="fas fa-star text-warning filled"
              [style.width.%]="fill"
            ></i>
          }
        </i>
      </ng-template>
      <ngb-rating [rate]="4.5" [starTemplate]="t" [readonly]="true" [max]="5" />
    </ul>
    <p class="mb-0 small mt-n1">Reviews from our buyers</p>
  </div>
</div>

<ul class="list-inline mb-4">
  <li class="list-inline-item">
    <input type="radio" class="btn-check" name="options" id="option1" checked />
    <label class="btn btn-success-soft-check" for="option1">
      <span class="mb-2 h6 fw-light">Paperback</span>

      <span class="d-flex align-items-center">
        <span class="mb-0 h5 me-2 text-success">{{ currency }}215</span>
        <span class="text-decoration-line-through fs-6 mb-0 me-2"
          >{{ currency }}350</span
        >
        <span class="badge text-bg-dark mb-0">60% off</span>
      </span>
    </label>
  </li>

  <li class="list-inline-item ms-1">
    <input type="radio" class="btn-check" name="options" id="option2" />
    <label class="btn btn-success-soft-check" for="option2">
      <span class="mb-2 h6 fw-light">Compact disk</span>

      <span class="d-flex align-items-center">
        <span class="mb-0 h5 me-2 text-success">{{ currency }}180</span>
        <span class="text-decoration-line-through fs-6 mb-0 me-2"
          >{{ currency }}240</span
        >
        <span class="badge text-bg-dark mb-0">40% off</span>
      </span>
    </label>
  </li>
</ul>

<h4>Description</h4>
<p>
  Satisfied conveying a dependent contented he gentleman agreeable do be.
  Warrant private blushes removed an in equally totally if. Delivered dejection
  necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do.
</p>
<p>
  We focus a great deal on the understanding of behavioral psychology and
  influence triggers which are crucial for becoming a well-rounded Digital
  Marketer. We understand that theory is important to build a solid foundation,
  we understand that theory alone isn't going to get the job done so that's why
  this course is packed with practical hands-on examples that you can follow
  step by step.
</p>

<div class="row mb-3">
  <div class="col-md-6">
    <ul class="list-group list-group-borderless">
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="bi fa-fw bi-calendar-fill text-primary me-2"></i>Published
          date:</span
        >
        <span class="h6"> 12 Dec 2021</span>
      </li>
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="fas fa-fw fa-book text-primary me-2"></i>Page count:</span
        >
        <span class="h6"> 180</span>
      </li>
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="fas fa-fw fa-font text-primary me-2"></i>Word count:</span
        >
        <span class="h6"> 15879</span>
      </li>
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="bi fa-fw bi-translate text-primary me-2"></i
          >Language:</span
        >
        <span class="h6"> English</span>
      </li>
    </ul>
  </div>

  <div class="col-md-6">
    <ul class="list-group list-group-borderless">
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="bi fa-fw bi-person-circle text-primary me-2"></i>Published
          by:</span
        >
        <span class="h6"> Dennis Barrett</span>
      </li>
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="bi fa-fw bi-eye-fill text-primary me-2"></i>Visited
          by:</span
        >
        <span class="h6"> 18K</span>
      </li>
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="bi fa-fw bi-bag-fill text-primary me-2"></i>Purchase
          by:</span
        >
        <span class="h6"> 8245</span>
      </li>
      <li class="list-group-item px-0">
        <span class="h6 fw-light"
          ><i class="bi fa-fw bi-star-fill text-primary me-2"></i
          >Rating/Review:</span
        >
        <span class="h6"> 4.5 (568)</span>
      </li>
    </ul>
  </div>
</div>

<p>
  Crucial for becoming a well-rounded Digital Marketer. We understand that
  theory is important to build a solid foundation, we understand that theory
  alone isn't going to get the job done so that's why this course is packed with
  practical hands-on examples that you can follow step by step.
</p>
