<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-light p-4 text-center rounded-3">
          <h1 class="m-0">Course Grid Minimal</h1>

          <div class="d-flex justify-content-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dots mb-0">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Course minimal
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
