<div class="row mt-4 g-3">
  <div class="col-sm-6 col-lg-4">
    <div class="d-flex align-items-center">
      <span class="icon-lg text-success mb-0 bg-success bg-opacity-10 rounded-3"
        ><i class="fas fa-play"></i
      ></span>
      <div class="ms-3">
        <div class="d-flex">
          <h5 class="purecounter mb-0 fw-bold" [countUp]="10">0</h5>
          <span class="mb-0 h5">+</span>
        </div>
        <p class="mb-0 h6 fw-light">Total Courses</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="d-flex align-items-center">
      <span class="icon-lg text-purple bg-purple bg-opacity-10 rounded-3 mb-0"
        ><i class="fas fa-users"></i
      ></span>
      <div class="ms-3">
        <div class="d-flex">
          <h5 class="purecounter mb-0 fw-bold" [countUp]="36">0</h5>
          <span class="mb-0 h5">K+</span>
        </div>
        <p class="mb-0 h6 fw-light">Total Students</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="d-flex align-items-center">
      <span class="icon-lg text-orange bg-orange bg-opacity-10 rounded-3 mb-0"
        ><i class="fas fa-trophy"></i
      ></span>
      <div class="ms-3">
        <div class="d-flex">
          <h5 class="purecounter mb-0 fw-bold" [countUp]="11">0</h5>
          <span class="mb-0 h5">+</span>
        </div>
        <p class="mb-0 h6 fw-light">Years in Experience</p>
      </div>
    </div>
  </div>
</div>
