<section class="pb-0 pb-md-5">
  <div class="container">
    <div class="row mb-4">
      <h2 class="mb-0">
        Upcoming <span class="text-warning">Education</span> Events
      </h2>
    </div>
    <div class="row">
      <div
        class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover"
      >
        <ng-tiny-slider
          [config]="sliderConfig"
          class="tiny-slider-inner"
          data-autoplay="false"
          data-arrow="true"
          data-dots="false"
          data-items-xl="3"
          data-items-md="2"
          data-items-xs="1"
        >
          @for (item of events; track $index) {
            <div class="card bg-transparent">
              <div class="position-relative">
                <img [src]="item.image" class="card-img" alt="course image" />

                <div
                  class="card-img-overlay d-flex align-items-start flex-column p-3"
                >
                  <div class="w-100 mt-auto">
                    <a
                      href="javascript:void(0);"
                      class="badge text-bg-white fs-6 rounded-1"
                      ><i class="far fa-calendar-alt text-orange me-2"></i
                      >{{ item.date }}</a
                    >
                  </div>
                </div>
              </div>

              <div class="card-body px-2">
                <h5 class="card-title">
                  <a href="javascript:void(0);">{{ item.title }}</a>
                </h5>

                <div class="d-flex justify-content-between align-items-center">
                  <Address class="mb-0"
                    ><i class="fas fa-map-marker-alt me-2"></i
                    >{{ item.location }}</Address
                  >
                  <a
                    href="javascript:void(0);"
                    class="btn btn-sm btn-primary-soft mb-0"
                    >Join now</a
                  >
                </div>
              </div>
            </div>
          }
        </ng-tiny-slider>
      </div>
    </div>
  </div>
</section>
