<section>
  <div class="container">
    <div class="row g-lg-5 align-items-lg-center">
      <div class="col-md-4">
        <img
          src="assets/images/instructor/10.jpg"
          class="rounded-2"
          alt="..."
        />
      </div>

      <div class="col-md-8">
        <h2 class="mb-0">Frances Guerrero</h2>
        <h6 class="mb-3">Graphic Designer</h6>
        <p>
          Satisfied conveying a dependent contented he gentleman agreeable do
          be. Warrant private blushes removed an in equally totally if.
          Delivered dejection necessary objection do Mr prevailed. Mr feeling
          does chiefly cordial in do.
        </p>
        <p>
          We focus a great deal on the understanding of behavioral psychology
          and influence triggers which are crucial for becoming a well-rounded
          Digital Marketer. We understand that theory is important to build a
          solid foundation, we understand that theory alone isn’t going to get
          the job done so that’s why this course is packed with practical
          hands-on examples that you can follow step by step.
        </p>

        <ul class="list-inline hstack flex-wrap gap-3 mb-0">
          <li class="list-inline-item"><h5 class="mb-0">Follow me on:</h5></li>
          <li class="list-inline-item">
            <a class="text-facebook" href="javascript:void(0);"
              ><i class="fab fa-facebook-square"></i> Facebook</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-instagram-gradient" href="javascript:void(0);"
              ><i class="fab fa-instagram-square"></i> Instagram</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-twitter" href="javascript:void(0);"
              ><i class="fab fa-twitter-square"></i> Twitter</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-youtube" href="javascript:void(0);"
              ><i class="fab fa-youtube-square"></i> Youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
