<app-menu
  navClassName="container-fluid px-3 px-xl-5"
  menuClassName="me-auto"
  [showCategory]="true"
  [showMegaMenu]="true"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
Main Banner START -->
  <index1-banner />
  <!-- =======================
Main Banner END -->

  <!-- =======================
Counter START -->
  <index1-counter />
  <!-- =======================
Counter END -->

  <!-- =======================
Popular course START -->
  <index1-popular-course />
  <!-- =======================
Popular course END -->

  <!-- =======================
Action box START -->
  <index1-action-box />
  <!-- =======================
Action box END -->

  <!-- =======================
Trending courses START -->
  <index1-trending />
  <!-- =======================
Trending courses END -->

  <!-- =======================
Reviews START -->
  <index1-reviews />
  <!-- =======================
Reviews END -->
</main>

<app-footer />
