<section class="pt-4 pt-lg-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-sm-6 col-lg-12 col-xl-3">
        <h2>Services that you need to know</h2>
        <p>
          The 1-hour demo will provide Happiness prosperous impression had
          conviction For every delay in their Extremity now, strangers
        </p>
      </div>

      @for (item of services; track $index) {
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="card card-body shadow h-100">
            <div class="d-flex align-items-center">
              <img [src]="item.image" class="h-60px mb-2" alt="" />
              <div class="ms-3">
                <h5 class="mb-0">
                  <a href="javascript:void(0);">{{ item.category }}</a>
                </h5>
                <p class="mb-0 small">Total {{ item.students }} Students</p>
              </div>
            </div>

            <ul class="list-group list-group-borderless small mt-2">
              @for (feature of item.features; track feature) {
                <li class="list-group-item text-body pb-0">
                  <i class="bi bi-patch-check-fill text-success"></i
                  >{{ feature }}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
</section>
