<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Page Banner START -->
  <contact-us-banner />
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  Image and contact form START -->
  <contact-form />
  <!-- =======================
  Image and contact form END -->

  <!-- =======================
  Map START -->
  <contact-us-map />
  <!-- =======================
  Map END -->
</main>

<app-footer className="bg-light" />
