<index11-topbar />

<main>
  <!-- =======================
Main Banner START -->
  <index11-banner />
  <!-- =======================
Main Banner END -->

  <!-- =======================
Feature START -->
  <index11-feature />
  <!-- =======================
Feature END -->

  <!-- =======================
Instructor grid START -->
  <index11-instructor-grid />
  <!-- =======================
Instructor grid END -->

  <!-- =======================
Action box START -->
  <index11-action-box />
  <!-- =======================
Action box END -->

  <!-- =======================
Top Listed START -->
  <index11-top-listed />
  <!-- =======================
Top Listed END -->

  <!-- =======================
Faq START -->
  <index11-faq />
  <!-- =======================
Faq END -->
</main>

<app-footer2 [showTitle]="true" />
