<index7-topbar />

<main>
  <!-- =======================
Main Banner START -->
  <index7-banner />
  <!-- =======================
Main Banner END -->

  <!-- =======================
About START -->
  <index7-about />
  <!-- =======================
About END -->

  <!-- =======================
Listed course START -->
  <index7-course-list />
  <!-- =======================
Listed course END -->

  <!-- =======================
Download START -->
  <index7-download />
  <!-- =======================
Download END -->

  <!-- =======================
Action box START -->
  <index7-action-box />
  <!-- =======================
Action box END -->

  <!-- =======================
Client feedback START -->
  <index7-client-feedback />
  <!-- =======================
Client feedback END -->
</main>

<app-footer2 />
