<div class="d-lg-flex justify-content-lg-between mb-4">
  <div class="align-items-center mb-3 mb-lg-0">
    <h6 class="mb-2 me-4 d-inline-block">Share on:</h6>
    <ul class="list-inline mb-0 mb-2 mb-sm-0">
      <li class="list-inline-item">
        <a class="btn px-2 btn-sm bg-facebook" href="javascript:void(0);"
          ><i class="fab fa-fw fa-facebook-f"></i
        ></a>
      </li>
      <li class="list-inline-item ms-1">
        <a
          class="btn px-2 btn-sm bg-instagram-gradient"
          href="javascript:void(0);"
          ><i class="fab fa-fw fa-instagram"></i
        ></a>
      </li>
      <li class="list-inline-item ms-1">
        <a class="btn px-2 btn-sm bg-twitter" href="javascript:void(0);"
          ><i class="fab fa-fw fa-twitter"></i
        ></a>
      </li>
      <li class="list-inline-item ms-1">
        <a class="btn px-2 btn-sm bg-linkedin" href="javascript:void(0);"
          ><i class="fab fa-fw fa-linkedin-in"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="align-items-center">
    <h6 class="mb-2 me-4 d-inline-block">Popular Tags:</h6>
    <ul class="list-inline mb-0 social-media-btn">
      <li class="list-inline-item">
        <a
          class="btn btn-outline-light btn-sm mb-lg-0"
          href="javascript:void(0);"
          >blog</a
        >
      </li>
      <li class="list-inline-item ms-1">
        <a
          class="btn btn-outline-light btn-sm mb-lg-0"
          href="javascript:void(0);"
          >business</a
        >
      </li>
      <li class="list-inline-item ms-1">
        <a
          class="btn btn-outline-light btn-sm mb-lg-0"
          href="javascript:void(0);"
          >bootstrap</a
        >
      </li>
      <li class="list-inline-item ms-1">
        <a
          class="btn btn-outline-light btn-sm mb-lg-0"
          href="javascript:void(0);"
          >data science</a
        >
      </li>
      <li class="list-inline-item ms-1">
        <a
          class="btn btn-outline-light btn-sm mb-lg-0"
          href="javascript:void(0);"
          >deep learning</a
        >
      </li>
    </ul>
  </div>
</div>
