<div class="card bg-transparent border rounded-3 mb-4">
  <div
    class="card-header bg-transparent d-sm-flex justify-content-sm-between align-items-center border-bottom"
  >
    <h3 class="mb-2 mb-sm-0">Billing address</h3>
    <a href="javascript:void(0);" class="btn btn-sm btn-primary-soft mb-0"
      >Add new address</a
    >
  </div>

  <div class="card-body">
    <div
      class="bg-body border border-1 p-3 rounded-3 d-sm-flex justify-content-sm-between align-items-center mb-4"
    >
      <div class="form-check">
        <input
          class="form-check-input mb-1"
          type="radio"
          name="address"
          id="address1"
          checked
        />
        <label class="form-check-label mb-0 h5" for="address1">Address-1</label>
        <p class="mb-0">2492 Centennial NW, Acworth, GA, 30102</p>
      </div>

      <div>
        <a href="javascript:void(0);" class="btn btn-sm btn-success mb-0"
          >Edit</a
        >
        <button class="btn btn-sm btn-danger mb-0 ms-1">Delete</button>
      </div>
    </div>

    <div
      class="bg-body border border-1 p-3 rounded-3 d-sm-flex justify-content-sm-between align-items-center mb-4"
    >
      <div class="form-check">
        <input
          class="form-check-input mb-1"
          type="radio"
          name="address"
          id="address2"
        />
        <label class="form-check-label mb-0 h5" for="address2">Address-2</label>
        <p class="mb-0">2002 Horton Ford Rd, Eidson, TN, 37731</p>
      </div>

      <div>
        <a href="javascript:void(0);" class="btn btn-sm btn-success mb-0"
          >Edit</a
        >
        <button class="btn btn-sm btn-danger mb-0 ms-1">Delete</button>
      </div>
    </div>
  </div>
</div>
