<div class="bg-light rounded-3 p-3 mb-4">
  <div class="row g-4">
    <div class="col-md-4">
      <h6 class="small">Organized by:</h6>
      <div class="d-flex align-items-center">
        <div class="avatar align-middle">
          <div class="avatar-img rounded-1 bg-danger">
            <span
              class="text-white position-absolute top-50 start-50 translate-middle fw-bold"
              >ZC</span
            >
          </div>
        </div>

        <div class="ms-2">
          <h6 class="mb-0">Zodiac Event Inc.</h6>
          <small>2.4k followers</small>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <h6 class="small">Location:</h6>
      <div class="d-flex align-items-center">
        <div class="avatar align-middle flex-shrink-0">
          <div class="avatar-img rounded-2 bg-dark">
            <span
              class="position-absolute top-50 start-50 translate-middle text-white"
              ><i class="bi bi-geo-alt-fill"></i
            ></span>
          </div>
        </div>
        <h6 class="fw-normal mb-0 ms-2">
          Chicago HQ Estica Cop. Macomb, MI 48042
        </h6>
      </div>
    </div>

    <div class="col-md-4">
      <h6 class="small">Date & Time:</h6>
      <div class="d-flex align-items-center">
        <div class="avatar align-middle flex-shrink-0">
          <div class="avatar-img rounded-2 bg-dark">
            <span
              class="position-absolute top-50 start-50 translate-middle text-white"
              ><i class="bi bi-calendar-fill"></i
            ></span>
          </div>
        </div>
        <div class="ms-2">
          <h6 class="fw-normal mb-0">01 Jan {{ currentYear }}</h6>
          <small>9am to 7pm Daylight Time</small>
        </div>
      </div>
    </div>
  </div>
</div>
