<div class="row g-4 mt-4">
  <div class="col-sm-6 col-md-4">
    <a
      href="assets/images/event/07.jpg"
      data-glightbox
      data-gallery="image-popup"
    >
      <img src="assets/images/event/07.jpg" class="rounded-3" alt="" />
    </a>
  </div>

  <div class="col-sm-6 col-md-4">
    <a
      href="assets/images/event/08.jpg"
      data-glightbox
      data-gallery="image-popup"
    >
      <img src="assets/images/event/08.jpg" class="rounded-3" alt="" />
    </a>
  </div>

  <div class="col-sm-6 col-md-4">
    <a
      href="assets/images/event/06.jpg"
      data-glightbox
      data-gallery="image-popup"
    >
      <img src="assets/images/event/06.jpg" class="rounded-3" alt="" />
    </a>
  </div>
</div>
