<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <section class="pt-5 pb-0">
    <div class="container">
      <div class="row g-0 g-lg-5">
        <div class="col-lg-4">
          <single-left-sidebar />
        </div>

        <div class="col-lg-8">
          <single-info />

          <single-counter />

          <single-courses-list />
        </div>
      </div>
    </div>
  </section>

  <single-related-instructor />
</main>

<app-footer className="bg-light" />
