<h5 class="mb-0">Hi, I am</h5>
<h1 class="mb-0">Lori Stevens</h1>
<p>Graphic Designer</p>

<p class="mt-4">
  Satisfied conveying a dependent contented he gentleman agreeable do be.
  Warrant private blushes removed an in equally totally if. Delivered dejection
  necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do.
</p>
<p>
  We focus a great deal on the understanding of behavioral psychology and
  influence triggers which are crucial for becoming a well-rounded Digital
  Marketer. We understand that theory is important to build a solid foundation,
  we understand that theory alone isn’t going to get the job done so that’s why
  this course is packed with practical hands-on examples that you can follow
  step by step.
</p>

<ul class="list-group list-group-borderless">
  <li class="list-group-item px-0">
    <span class="h6 fw-light"
      ><i class="fas fa-fw fa-map-marker-alt text-primary me-1 me-sm-3"></i
      >Address:</span
    >
    <span> 2002 Horton Ford Rd, Eidson, TN, 37731</span>
  </li>
  <li class="list-group-item px-0">
    <span class="h6 fw-light"
      ><i class="fas fa-fw fa-envelope text-primary me-1 me-sm-3"></i
      >Email:</span
    >
    <span> example&#64;gmail.com</span>
  </li>
  <li class="list-group-item px-0">
    <span class="h6 fw-light"
      ><i class="fas fa-fw fa-headphones text-primary me-1 me-sm-3"></i>Phone
      number:</span
    >
    <span> +896-789-546</span>
  </li>
  <li class="list-group-item px-0">
    <span class="h6 fw-light"
      ><i class="fas fa-fw fa-globe text-primary me-1 me-sm-3"></i
      >Website:</span
    >
    <span> {{ credits.website }}</span>
  </li>
</ul>
