<section class="position-relative pt-0">
  <div class="container">
    <ngx-masonry
      class="row g-4 filter-container overflow-hidden"
      [ordered]="true"
    >
      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card bg-transparent">
          <div class="overflow-hidden rounded-3">
            <img
              src="assets/images/event/02.jpg"
              class="card-img"
              alt="course image"
            />

            <div class="bg-overlay bg-dark opacity-4"></div>
            <div class="card-img-overlay d-flex align-items-start p-3">
              <a href="javascript:void(0);" class="badge text-bg-danger"
                >Student life</a
              >
            </div>
          </div>

          <div class="card-body px-3">
            <h5 class="card-title">
              <a href="javascript:void(0);"
                >Student Loan Survey: Many Owe {{ currency }}50K-plus</a
              >
            </h5>
            <p class="text-truncate-2">
              Affronting imprudence do he he everything. Offered chiefly farther
              of my no colonel shyness. Such on help ye some door if in.
              Laughter proposal laughing any son law consider. Needed except up
              piqued an.
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Frances Guerrero</a>
              </h6>
              <span class="small">30M Ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card bg-light p-3">
          <div class="card-body">
            <a href="javascript:void(0);" class="badge text-bg-success mb-2"
              >Research</a
            >

            <h5 class="card-title">
              <a href="javascript:void(0);">How to make a college list</a>
            </h5>
            <p>
              Prospective students should start broadly and then narrow their
              list down to colleges that best fit their needs, experts say. Yet
              remarkably appearance gets him his projection.
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Louis Crawford</a>
              </h6>
              <span class="small">12H Ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card h-100 bg-transparent">
          <div
            class="card-img-top rounded-3 overflow-hidden position-relative hover-overlay-top"
          >
            <div class="ratio ratio-16x9">
              <iframe
                width="620"
                height="347"
                src="https://www.youtube.com/embed/9No-FiEInLA"
                allow="autoplay; encrypted-media"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>

          <div class="card-body px-3">
            <a href="javascript:void(0);" class="badge text-bg-purple mb-2"
              >Travel</a
            >

            <h5 class="card-title">
              <a href="javascript:void(0);"
                >Never underestimate the influence of Eduport</a
              >
            </h5>
            <p class="text-truncate-2">
              Prospective students should start broadly and then narrow their
              list
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Joan Wallace</a>
              </h6>
              <span class="small">5D Ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card bg-transparent">
          <div class="overflow-hidden rounded-3">
            <img
              src="assets/images/event/03.jpg"
              class="card-img-top"
              alt="course image"
            />

            <div class="bg-overlay bg-dark opacity-4"></div>
            <div class="card-img-overlay d-flex align-items-start p-3">
              <a href="javascript:void(0);" class="badge text-bg-warning"
                >Lifestyle</a
              >
            </div>
          </div>

          <div class="card-body px-3">
            <h5 class="card-title">
              <a href="javascript:void(0);"
                >Covid-19 and the college experienced</a
              >
            </h5>
            <p>
              Rooms oh fully taken by worse do. Points afraid but may end law.
              Points afraid but may end law.
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Amanda Reed</a>
              </h6>
              <span class="small">July 21, 2021</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div
          class="card bg-dark p-3"
          style="
            background: url(assets/images/pattern/05.png) no-repeat center
              center;
            background-size: cover;
          "
        >
          <div class="card-body">
            <a href="javascript:void(0);" class="badge text-bg-warning mb-2"
              >Lifestyle</a
            >

            <h5 class="card-title text-primary-hover mb-1">
              <a href="javascript:void(0);" class="text-white"
                >Student Success</a
              >
            </h5>
            <span class="text-white">Louis Crawford</span>

            <ul class="list-inline mb-0 mt-3">
              <li class="list-inline-item text-white me-3 mb-1 mb-sm-0">
                Aug 26, 2021
              </li>
              <li class="list-inline-item text-primary-hover me-3 mb-1 mb-xl-0">
                <a href="javascript:void(0);" class="text-white"
                  ><i class="bi bi-heart me-1"></i>10</a
                >
              </li>
              <li class="list-inline-item text-primary-hover me-3 mb-1 mb-xl-0">
                <a href="javascript:void(0);" class="text-white"
                  ><i class="fas fa-comment me-1"></i>5</a
                >
              </li>
              <li class="list-inline-item text-primary-hover me-3 mb-1 mb-xl-0">
                <a href="javascript:void(0);" class="text-white"
                  ><i class="fas fa-tag me-1"></i>Business</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div
          class="card bg-info p-3"
          style="
            background: url(assets/images/pattern/03.png) no-repeat center
              center;
            background-size: cover;
          "
        >
          <div class="card-body">
            <h5 class="card-title text-primary-hover mb-1">
              <a href="javascript:void(0);" class="text-white"
                >Choose your direction</a
              >
            </h5>
            <p class="text-white mb-0">{{ credits.website }}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card h-100 bg-transparent">
          <div
            class="card-img-top rounded overflow-hidden position-relative hover-overlay-top"
          >
            <div class="ratio ratio-16x9">
              <iframe
                src="https://player.vimeo.com/video/167434033?title=0&amp;byline=0&amp;portrait=0"
                width="620"
                height="347"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>

          <div class="card-body px-3">
            <a href="javascript:void(0);" class="badge text-bg-purple mb-2"
              >Technology</a
            >

            <h5 class="card-title">
              <a href="javascript:void(0);"
                >10 things you need to know about Eduport</a
              >
            </h5>
            <p class="text-truncate-2">
              Prospective students should start broadly and then narrow their
              list
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Bryan Knight</a>
              </h6>
              <span class="small">20D Ago</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card bg-transparent">
          <div class="overflow-hidden rounded-3">
            <img
              src="assets/images/event/04.jpg"
              class="card-img"
              alt="course image"
            />

            <div class="bg-overlay bg-dark opacity-4"></div>
            <div class="card-img-overlay d-flex align-items-start p-3">
              <a href="javascript:void(0);" class="badge text-bg-primary"
                >Sports</a
              >
            </div>
          </div>

          <div class="card-body px-3">
            <h5 class="card-title">
              <a href="javascript:void(0);">The Olympics are over, now what?</a>
            </h5>
            <p>
              Rooms oh fully taken by worse do. Points afraid but may end law.
              Points afraid but may end law.
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Amanda Reed</a>
              </h6>
              <span class="small">Aug 31, 2021</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 grid-item" ngxMasonryItem>
        <div class="card bg-transparent">
          <div class="overflow-hidden rounded-3">
            <img
              src="assets/images/event/01.jpg"
              class="card-imgp"
              alt="course image"
            />

            <div class="bg-overlay bg-dark opacity-4"></div>
            <div class="card-img-overlay d-flex align-items-start p-3">
              <a href="javascript:void(0);" class="badge text-bg-info"
                >Student story</a
              >
            </div>
          </div>

          <div class="card-body px-3">
            <h5 class="card-title">
              <a href="javascript:void(0);"
                >Campus Support for First-Year Students</a
              >
            </h5>
            <p class="text-truncate-2">
              Prospective students should start broadly and then narrow their
              list
            </p>

            <div class="d-flex justify-content-between">
              <h6 class="mb-0">
                <a href="javascript:void(0);">Lori Stevens</a>
              </h6>
              <span class="small">3M Ago</span>
            </div>
          </div>
        </div>
      </div>
    </ngx-masonry>

    <div class="text-center mt-4">
      <a href="javascript:void(0);" class="btn btn-primary-soft mb-0"
        >Load more<i class="fas fa-sync ms-2"></i
      ></a>
    </div>
  </div>
</section>
