<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Page Banner START -->
  <about-banner />
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  About founder START -->
  <about-founder />
  <!-- =======================
  About founder END -->

  <!-- =======================
  Client START -->
  <about-client />
  <!-- =======================
  Client END -->

  <!-- =======================
  Award and Team START -->
  <about-award />
  <!-- =======================
  Award and Team END -->
</main>

<app-footer className="bg-light" />
