<div class="row mb-3">
  <div class="col-12 d-sm-flex justify-content-between align-items-center">
    <h1 class="h3 mb-2 mb-sm-0">Course Details</h1>
    <a
      routerLink="/admin/edit-course-detail"
      class="btn btn-sm btn-primary mb-0"
      >Edit Course</a
    >
  </div>
</div>

<div class="row g-4">
  <div class="col-xxl-6">
    <detail-course-info />
  </div>

  <div class="col-xxl-6">
    <detail-charts />
  </div>

  <div class="col-12">
    <detail-student-review />
  </div>
</div>
