<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Main Banner START -->
  <index8-banner />
  <!-- =======================
  Main Banner END -->

  <!-- =======================
  Services START -->
  <index8-services />
  <!-- =======================
  Services END -->

  <!-- =======================
  Contact form START -->
  <index8-contact-form />
  <!-- =======================
  Contact form END -->

  <!-- =======================
  Faqs START -->
  <index8-faq />
  <!-- =======================
  Faqs END -->
</main>

<app-footer3 />
