<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Page Banner START -->
  <become-banner />
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  Work START -->
  <become-work />
  <!-- =======================
  Work END -->

  <!-- =======================
  Counter START -->
  <become-counter />
  <!-- =======================
  Counter END -->

  <!-- =======================
  Form and Tabs START -->
  <become-tabs />
  <!-- =======================
  Form and Tabs END -->

  <!-- =======================
  Action box START -->
  <become-action-box />
  <!-- =======================
  Action box END -->
</main>

<app-footer className="bg-light" />
