<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Page Banner START -->
  <categories-banner />
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  Categories START -->
  <course-categories />
  <!-- =======================
  Categories END -->

  <!-- =======================
  Language START -->
  <categories-language />
  <!-- =======================
  Language END -->

  <!-- =======================
  Action box START -->
  <categories-action-box />
  <!-- =======================
  Action box END -->
</main>

<app-footer className="bg-light" />
