<section class="py-0">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="bg-light rounded-3 position-relative p-3 p-sm-5">
          <div class="row g-4 align-items-center">
            <div class="col-md-6">
              <h6 class="text-primary">Newsletter</h6>
              <h2 class="mb-0">Subscribe Mail list!</h2>
              <p class="mb-0">
                Speedily say has suitable disposal add boy. On forth doubt miles
                of child. Exercise joy man children rejoiced.
              </p>
            </div>

            <div class="col-md-6">
              <form class="bg-body rounded-2 p-2">
                <div class="input-group">
                  <input
                    class="form-control border-0 me-1"
                    type="email"
                    placeholder="Enter your email"
                  />
                  <button type="button" class="btn btn-blue mb-0 rounded-2">
                    Subscribe!
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
