<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [fullWidth]="false"
  [showContact]="true"
  [showsignin]="true"
  [showExtraPages]="false"
/>

<main>
  <!-- =======================
  Main banner START -->
  <index6-banner />
  <!-- =======================
  Main banner END -->

  <!-- =======================
  Steps START -->
  <index6-steps />
  <!-- =======================
  Steps END -->

  <!-- =======================
  Course START -->
  <index6-course />
  <!-- =======================
  Course END -->

  <!-- =======================
  Portfolio START -->
  <index6-portfolio />
  <!-- =======================
  Portfolio END -->
</main>

<index6-footer />
