<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Page Banner START -->
  <instructor-list-banner />
  <!-- =======================
  Page Banner END -->

  <!-- =======================
  Inner part START -->
  <instructor-list-item />
  <!-- =======================
  Inner part END -->

  <!-- =======================
  Action box START -->
  <instructor-list-action-box />
  <!-- =======================
  Action box END -->
</main>

<app-footer className="bg-light" />
