<div class="table-responsive border-0">
  <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
    <thead>
      <tr>
        <th scope="col" class="border-0 rounded-start">Instructor name</th>
        <th scope="col" class="border-0">Join date</th>
        <th scope="col" class="border-0">Progress</th>
        <th scope="col" class="border-0">Courses</th>
        <th scope="col" class="border-0">Payments</th>
        <th scope="col" class="border-0 rounded-end">Action</th>
      </tr>
    </thead>

    <tbody>
      @for (item of students; track $index) {
        <tr>
          <td>
            <div class="d-flex align-items-center position-relative">
              <div class="avatar avatar-md">
                <img [src]="item.avatar" class="rounded-circle" alt="" />
              </div>
              <div class="mb-0 ms-3">
                <h6 class="mb-0">
                  <a href="javascript:void(0);" class="stretched-link">{{
                    item.name
                  }}</a>
                </h6>
                <span class="text-body small"
                  ><i class="fas fa-fw fa-map-marker-alt me-1 mt-1"></i
                  >{{ item.location }}</span
                >
              </div>
            </div>
          </td>

          <td>{{ item.join_date }}</td>

          <td class="text-center text-sm-start">
            <div class="overflow-hidden">
              <h6 class="mb-0">{{ item.progress }}%</h6>
              <ngb-progressbar
                type="primary"
                [value]="item.progress"
                class="progress-sm aos"
                data-aos="slide-right"
                data-aos-delay="200"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
              ></ngb-progressbar>
            </div>
          </td>

          <td>{{ item.total_courses }}</td>

          <td>${{ item.payments | number }}</td>

          <td>
            <a
              href="javascript:void(0);"
              class="btn btn-light btn-round me-1 mb-1 mb-md-0"
              placement="top"
              ngbTooltip="View"
            >
              <i class="bi bi-eye"></i>
            </a>
            <a
              href="javascript:void(0);"
              class="btn btn-light btn-round me-1 mb-1 mb-md-0 ms-1"
              placement="top"
              ngbTooltip="Message"
            >
              <i class="bi bi-envelope"></i>
            </a>
            <button
              class="btn btn-light btn-round mb-0 ms-1"
              placement="top"
              ngbTooltip="Block"
            >
              <i class="fas fa-ban"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
