<index10-topbar />

<main>
  <!-- =======================
  Main Banner START -->
  <index10-banner />
  <!-- =======================
  Main Banner END -->

  <!-- =======================
  Counter and Countries START -->
  <index10-counter />
  <!-- =======================
  Counter and Countries END -->

  <!-- =======================
  About START -->
  <index10-about />
  <!-- =======================
  About END -->

  <!-- =======================
  Courses START -->
  <index10-courses />
  <!-- =======================
  Courses END -->

  <!-- =======================
  Client START -->
  <section class="py-0 py-md-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="tiny-slider">
            <app-client-slider imageClass="grayscale" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Client END -->

  <!-- =======================
  Action box START -->
  <index10-action-box />
  <!-- =======================
  Action box END -->

  <!-- =======================
  Contact form START -->
  <index10-contact />
  <!-- =======================
  Contact form END -->
</main>

<app-footer className="bg-light" />
