<div class="row mb-4">
  <h5 class="mb-4">Our Student Reviews</h5>

  <div class="col-md-4 mb-3 mb-md-0">
    <div class="text-center">
      <h2 class="mb-0">4.5</h2>

      <ul class="list-inline mb-0">
        <ng-template #t let-fill="fill">
          <i class="far fa-star text-warning me-1">
            @if (fill > 0) {
              <i
                class="fas fa-star text-warning filled"
                [style.width.%]="fill"
              ></i>
            }
          </i>
        </ng-template>

        <ngb-rating
          [rate]="4.5"
          [starTemplate]="t"
          [readonly]="true"
          [max]="5"
        />
      </ul>
      <p class="mb-0">(Based on todays review)</p>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row align-items-center">
      <div class="col-6 col-sm-8">
        <ngb-progressbar
          type="warning"
          [value]="100"
          [height]="'5px'"
        ></ngb-progressbar>
      </div>

      <div class="col-6 col-sm-4">
        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="5"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>

      <div class="col-6 col-sm-8">
        <ngb-progressbar
          type="warning"
          [value]="80"
          [height]="'5px'"
        ></ngb-progressbar>
      </div>

      <div class="col-6 col-sm-4">
        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="4"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>

      <div class="col-6 col-sm-8">
        <ngb-progressbar
          type="warning"
          [value]="60"
          [height]="'5px'"
        ></ngb-progressbar>
      </div>

      <div class="col-6 col-sm-4">
        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="3"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>

      <div class="col-6 col-sm-8">
        <ngb-progressbar
          type="warning"
          [value]="40"
          [height]="'5px'"
        ></ngb-progressbar>
      </div>

      <div class="col-6 col-sm-4">
        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="2"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>

      <div class="col-6 col-sm-8">
        <ngb-progressbar
          type="warning"
          [value]="20"
          [height]="'5px'"
        ></ngb-progressbar>
      </div>

      <div class="col-6 col-sm-4">
        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="1"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="d-md-flex my-4">
    <div class="avatar avatar-xl me-4 flex-shrink-0">
      <img
        class="avatar-img rounded-circle"
        src="assets/images/avatar/09.jpg"
        alt="avatar"
      />
    </div>

    <div>
      <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
        <h5 class="me-3 mb-0">Jacqueline Miller</h5>

        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="4"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>

      <p class="small mb-2">2 days ago</p>
      <p class="mb-2">
        Perceived end knowledge certainly day sweetness why cordially. Ask a
        quick six seven offer see among. Handsome met debating sir dwelling age
        material. As style lived he worse dried. Offered related so visitors we
        private removed. Moderate do subjects to distance.
      </p>

      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" />
        <label class="btn btn-outline-light btn-sm mb-0" for="btnradio1"
          ><i class="far fa-thumbs-up me-1"></i>25</label
        >

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" />
        <label class="btn btn-outline-light btn-sm mb-0" for="btnradio2">
          <i class="far fa-thumbs-down me-1"></i>2</label
        >
      </div>
    </div>
  </div>

  <div class="d-md-flex mb-4 ps-4 ps-md-5">
    <div class="avatar avatar-lg me-4 flex-shrink-0">
      <img
        class="avatar-img rounded-circle"
        src="assets/images/avatar/02.jpg"
        alt="avatar"
      />
    </div>

    <div>
      <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
        <h5 class="me-3 mb-0">Louis Ferguson</h5>
      </div>

      <p class="small mb-2">1 days ago</p>
      <p class="mb-2">
        Water timed folly right aware if oh truth. Imprudence attachment him for
        sympathize. Large above be to means. Dashwood does provide stronger is.
        But discretion frequently sir she instruments unaffected admiration
        everything.
      </p>
    </div>
  </div>

  <hr />

  <div class="d-md-flex my-4">
    <div class="avatar avatar-xl me-4 flex-shrink-0">
      <img
        class="avatar-img rounded-circle"
        src="assets/images/avatar/07.jpg"
        alt="avatar"
      />
    </div>

    <div>
      <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
        <h5 class="me-3 mb-0">Dennis Barrett</h5>

        <ul class="list-inline mb-0">
          <ng-template #t let-fill="fill">
            <i class="far fa-star text-warning me-1">
              @if (fill > 0) {
                <i
                  class="fas fa-star text-warning filled"
                  [style.width.%]="fill"
                ></i>
              }
            </i>
          </ng-template>
          <ngb-rating
            [rate]="4"
            [starTemplate]="t"
            [readonly]="true"
            [max]="5"
          />
        </ul>
      </div>

      <p class="small mb-2">2 days ago</p>
      <p class="mb-2">
        Handsome met debating sir dwelling age material. As style lived he worse
        dried. Offered related so visitors we private removed. Moderate do
        subjects to distance.
      </p>

      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" />
        <label class="btn btn-outline-light btn-sm mb-0" for="btnradio3"
          ><i class="far fa-thumbs-up me-1"></i>25</label
        >

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" />
        <label class="btn btn-outline-light btn-sm mb-0" for="btnradio4">
          <i class="far fa-thumbs-down me-1"></i>2</label
        >
      </div>
    </div>
  </div>

  <hr />
</div>

<div class="mt-2">
  <h5 class="mb-4">Leave a Review</h5>
  <form class="row g-3">
    <div class="col-md-6 bg-light-input">
      <input
        type="text"
        class="form-control"
        id="inputtext"
        placeholder="Name"
        aria-label="First name"
      />
    </div>

    <div class="col-md-6 bg-light-input">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        id="inputEmail4"
      />
    </div>

    <div class="col-12 bg-light-input">
      <select id="inputState2" class="form-select js-choice">
        <option selected="">★★★★★ (5/5)</option>
        <option>★★★★☆ (4/5)</option>
        <option>★★★☆☆ (3/5)</option>
        <option>★★☆☆☆ (2/5)</option>
        <option>★☆☆☆☆ (1/5)</option>
      </select>
    </div>

    <div class="col-12 bg-light-input">
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        placeholder="Your review"
        rows="3"
      ></textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mb-0">Post Review</button>
    </div>
  </form>
</div>
