<div class="row">
  <div class="col-12">
    <div class="card border bg-transparent rounded-3 mt-5">
      <div class="card-header bg-transparent border-bottom">
        <div class="d-sm-flex justify-content-sm-between align-items-center">
          <h3 class="mb-2 mb-sm-0">Most Selling Courses</h3>
          <a href="javascript:void(0);" class="btn btn-sm btn-primary-soft mb-0"
            >View all</a
          >
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive border-0 rounded-3">
          <table class="table table-dark-gray align-middle p-4 mb-0">
            <thead>
              <tr>
                <th scope="col" class="border-0 rounded-start">Course Name</th>
                <th scope="col" class="border-0">Selling</th>
                <th scope="col" class="border-0">Amount</th>
                <th scope="col" class="border-0">Period</th>
                <th scope="col" class="border-0 rounded-end">Action</th>
              </tr>
            </thead>

            <tbody>
              @for (item of courses; track $index) {
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="w-60px">
                        <img [src]="item.image" class="rounded" alt="" />
                      </div>

                      <h6 class="mb-0 ms-2 table-responsive-title">
                        <a href="javascript:void(0);">{{ item.title }}</a>
                      </h6>
                    </div>
                  </td>

                  <td>{{ item.selling }}</td>

                  <td>${{ item.amount }}</td>

                  <td>
                    <span class="badge bg-primary bg-opacity-10 text-primary">{{
                      item.period
                    }}</span>
                  </td>

                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-success-soft btn-round me-1 mb-0"
                      ><i class="far fa-fw fa-edit"></i
                    ></a>
                    <button
                      class="btn btn-sm btn-danger-soft btn-round mb-0 ms-1"
                    >
                      <i class="fas fa-fw fa-times"></i>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <div
          class="d-sm-flex justify-content-sm-between align-items-sm-center mt-3"
        >
          <p class="mb-0 text-center text-sm-start">
            Showing 1 to 8 of 20 entries
          </p>

          <nav
            class="d-flex justify-content-center mb-0"
            aria-label="navigation"
          >
            <ngb-pagination
              [collectionSize]="30"
              [page]="2"
              size="sm"
              class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
            >
              <ng-template ngbPaginationPrevious
                ><i class="fas fa-angle-left"></i>
              </ng-template>
              <ng-template ngbPaginationNext
                ><i class="fas fa-angle-right"></i>
              </ng-template>
            </ngb-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
