<request-access-topbar />

<main>
  <!-- =======================
Main part START -->
  <request-access-banner />
  <!-- =======================
Main part END -->

  <!-- =======================
Client START -->
  <request-access-client />
  <!-- =======================
Client END -->

  <!-- =======================
Testimonials START -->
  <request-access-testimonials />
  <!-- =======================
Testimonials END -->

  <!-- =======================
Newsletter START -->
  <request-access-newsletter />
  <!-- =======================
Newsletter END -->
</main>

<request-access-footer />
