<div class="card shadow">
  <div
    class="card-header border-bottom d-sm-flex justify-content-between align-items-center"
  >
    <h5 class="card-header-title mb-0">Social Media Settings</h5>
    <a href="javascript:void(0);" class="btn btn-sm btn-primary mb-0"
      >Add new</a
    >
  </div>

  <div class="card-body">
    <form class="row g-4">
      <div class="col-sm-6">
        <label class="form-label"
          ><i class="fab fa-google text-google-icon me-2"></i>Enter google
          client ID</label
        >
        <input class="form-control" type="text" />
      </div>

      <div class="col-sm-6">
        <label class="form-label"
          ><i class="fab fa-google text-google-icon me-2"></i>Enter google
          API</label
        >
        <input class="form-control" type="text" />
      </div>

      <div class="col-sm-6">
        <label class="form-label"
          ><i class="fab fa-facebook text-facebook me-2"></i>Enter facebook
          client ID</label
        >
        <input class="form-control" type="text" />
      </div>

      <div class="col-sm-6">
        <label class="form-label"
          ><i class="fab fa-facebook text-facebook me-2"></i>Enter facebook
          API</label
        >
        <input class="form-control" type="text" />
      </div>

      <p class="mb-0">
        <b>In your app set all redirect URL like:</b>
        <u class="text-primary"> https://app.eduport.abc/google/callback</u>
      </p>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary mb-0">Update</button>
      </div>
    </form>
  </div>
</div>
