<app-menu
  navClassName="container"
  menuClassName="mx-auto"
  [SearchWithText]="true"
/>

<main>
  <!-- =======================
  Page content START -->
  <section class="pt-3 pt-xl-5">
    <div class="container" data-sticky-container>
      <div class="row g-4">
        <div class="col-xl-8">
          <div class="row g-4">
            <div class="col-12">
              <h2>The Complete Digital Marketing Course - 12 Courses in 1</h2>
              <p>
                Satisfied conveying a dependent contented he gentleman agreeable
                do be. Warrant private blushes removed an in equally totally if.
                Delivered dejection necessary objection do Mr prevailed. Mr
                feeling does chiefly cordial in do.
              </p>

              <ul class="list-inline mb-0">
                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0">
                  <i class="fas fa-star me-2"></i>4.5/5.0
                </li>
                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0 ms-1">
                  <i class="fas fa-user-graduate me-2"></i>12k Enrolled
                </li>
                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0 ms-1">
                  <i class="fas fa-signal me-2"></i>All levels
                </li>
                <li class="list-inline-item fw-light h6 me-3 mb-1 mb-sm-0 ms-1">
                  <i class="bi bi-patch-exclamation-fill me-2"></i>Last updated
                  09/2021
                </li>
                <li class="list-inline-item fw-light h6 ms-1">
                  <i class="fas fa-globe me-2"></i>English
                </li>
              </ul>
            </div>

            <div class="col-12 position-relative">
              <div class="video-player rounded-3">
                <video
                  appPlyr
                  controls
                  crossorigin="anonymous"
                  playsinline
                  poster="assets/images/videos/poster.jpg"
                >
                  <source
                    src="assets/images/videos/360p.mp4"
                    type="video/mp4"
                    size="360"
                  />
                  <source
                    src="assets/images/videos/720p.mp4"
                    type="video/mp4"
                    size="720"
                  />
                  <source
                    src="assets/images/videos/1080p.mp4"
                    type="video/mp4"
                    size="1080"
                  />

                  <track
                    kind="captions"
                    label="English"
                    srclang="en"
                    src="assets/images/videos/en.vtt"
                    default
                  />
                  <track
                    kind="captions"
                    label="French"
                    srclang="fr"
                    src="assets/images/videos/fr.vtt"
                  />
                </video>
              </div>
            </div>

            <div class="col-12">
              <advance-course-description />
            </div>

            <div class="col-12">
              <advance-course-curriculum />
            </div>

            <div class="col-12">
              <advance-course-faq />
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <advance-right-sidebar />
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Page content END -->
</main>

<app-footer className="bg-light" />
