<div class="card card-body bg-light p-4 mt-5">
  <div class="row g-2">
    <div class="col-sm-4">
      <div class="d-flex">
        <i class="bi bi-globe fs-4"></i>
        <div class="ms-3">
          <h5 class="mb-0">125</h5>
          <p class="mb-0">Visitors</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="d-flex">
        <i class="bi bi-person-plus fs-4"></i>
        <div class="ms-3">
          <h5 class="mb-0">356</h5>
          <p class="mb-0">Registered</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="d-flex">
        <i class="bi bi-people fs-4"></i>
        <div class="ms-3">
          <h5 class="mb-0">350</h5>
          <p class="mb-0">Attendance</p>
        </div>
      </div>
    </div>
  </div>
</div>
