<section class="pt-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="bg-purple bg-opacity-10 rounded-3 p-5 h-100">
          <div class="row g-3 align-items-center">
            <div class="col-sm-5 col-lg-12 col-xl-5">
              <img src="assets/images/book/01.jpg" alt="" />
            </div>

            <div class="col-sm-7 col-lg-12 col-xl-7">
              <h3 class="mb-2">Best selling book of the month</h3>

              <ul class="list-inline mb-2">
                <ng-template #t let-fill="fill">
                  <i class="far fa-star text-warning me-1">
                    @if (fill > 0) {
                      <i
                        class="fas fa-star text-warning filled"
                        [style.width.%]="fill"
                      ></i>
                    }
                  </i>
                </ng-template>

                <ngb-rating
                  [rate]="4.5"
                  [starTemplate]="t"
                  [readonly]="true"
                  [max]="5"
                />
              </ul>

              <h6 class="lead fw-bold mb-2">
                HTML and CSS: Design and Build Websites (Paperback)
              </h6>

              <a href="javascript:void(0);" class="btn btn-sm btn-purple mb-0"
                >Buy now</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="bg-warning rounded-3 bg-opacity-15 p-5 h-100">
          <div class="row g-3 align-items-center my-auto">
            <div class="col-sm-7 col-lg-12 col-xl-7">
              <h2 class="mb-1 fs-1">50%OFF</h2>
              <p class="mb-3 h5 fw-light lead">
                Enroll now in the most popular and best-rated Books.
              </p>
              <a href="javascript:void(0);" class="btn btn-dark mb-0"
                >View Books</a
              >
            </div>

            <div class="col-sm-5 col-lg-12 col-xl-5">
              <img src="assets/images/element/29.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
