<section class="bg-light">
  <div class="container">
    <div class="row position-relative pb-4">
      <div class="col-lg-8 position-relative">
        <h1>Study in Canada for international students</h1>
        <p>
          For who thoroughly her boy estimating conviction. Removed demands
          expense account in outward tedious do. Particular way thoroughly
          unaffected projection favorable Mrs can be projecting own. Thirty it
          matter enable become admire in giving.
        </p>
      </div>
    </div>

    <div
      class="h-300px mb-n9 rounded-3"
      style="
        background-image: url(assets/images/bg/05.jpg);
        background-position: center left;
        background-size: cover;
      "
    ></div>
  </div>
</section>
