<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img
          src="assets/images/element/cart.svg"
          class="h-200px h-md-300px mb-3"
          alt=""
        />

        <h2>Your cart is currently empty</h2>

        <p class="mb-0">
          Please check out all the available courses and buy some courses that
          fulfill your needs.
        </p>

        <a routerLink="/" class="btn btn-primary mt-4 mb-0">Back to Shop</a>
      </div>
    </div>
  </div>
</section>
