<div class="row g-3">
  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Salutation <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <div class="d-flex">
          <div class="form-check radio-bg-light me-4">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioSalutation"
              id="flexRadioSalutation1"
              checked
            />
            <label class="form-check-label" for="flexRadioSalutation1">
              Mr.
            </label>
          </div>
          <div class="form-check radio-bg-light me-4">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioSalutation"
              id="flexRadioSalutation2"
            />
            <label class="form-check-label" for="flexRadioSalutation2">
              Mrs.
            </label>
          </div>
          <div class="form-check radio-bg-light me-4">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioSalutation"
              id="flexRadioSalutation3"
            />
            <label class="form-check-label" for="flexRadioSalutation3">
              Ms.
            </label>
          </div>
          <div class="form-check radio-bg-light">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioSalutation"
              id="flexRadioSalutation4"
            />
            <label class="form-check-label" for="flexRadioSalutation4">
              Dr.
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Full name <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="fullName" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">
          Relation with applicant <span class="text-danger">*</span>
        </h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="relation" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Email <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <input type="email" class="form-control" id="email2" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Phone number <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="phoneNumber2" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Home address <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <textarea class="form-control" rows="3" placeholder=""></textarea>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Job title <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="jobTitle" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Office phone number</h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" />
      </div>
    </div>
  </div>
</div>
