<section class="pb-0 pb-xxl-5">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="row d-flex justify-content-center">
          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/microsoft.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/linkedin.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/netflix.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/coca-cola.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/envato.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/android.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/coca-cola.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/shippable.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/algolia.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/importio.svg" alt="Client logo" />
            </div>
          </div>

          <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="p-3 p-lg-4 grayscale text-center">
              <img src="assets/images/client/yamaha.svg" alt="Client logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
