<div class="modal-header bg-dark">
  <h5 class="modal-title text-white" id="appDetaillabel">Applicant details</h5>
  <button
    type="button"
    class="btn btn-sm btn-light mb-0 ms-auto"
    (click)="activeModal.dismiss()"
  >
    <i class="bi bi-x-lg"></i>
  </button>
</div>

<div class="modal-body p-5">
  <span class="small">Applicant Name:</span>
  <h6 class="mb-3">Jacqueline Miller</h6>

  <span class="small">Applicant Email id:</span>
  <h6 class="mb-3">example&#64;gmail.com</h6>

  <span class="small">Applicant Phone number:</span>
  <h6 class="mb-3">+123 456 789 10</h6>

  <span class="small">Summary:</span>
  <p class="text-dark mb-2">
    We focus a great deal on the understanding of behavioral psychology and
    influence triggers which are crucial for becoming a well rounded Digital
    Marketer. We understand that theory is important to build a solid
    foundation, we understand that theory alone isn’t going to get the job done
    so that’s why this course is packed with practical hands-on examples that
    you can follow step by step.
  </p>
  <p class="text-dark mb-0">
    As it so contrasted oh estimating instrument. Size like body someone had.
    Are conduct viewing boy minutes warrant the expense? Tolerably behavior may
    admit daughters offending her ask own. Praise effect wishes change way and
    any wanted. Lively use looked latter regard had. Do he it part more last in.
  </p>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-danger-soft my-0"
    (click)="activeModal.dismiss()"
  >
    Close
  </button>
</div>
