<section>
  <div class="container">
    <div class="row g-4 g-md-5">
      <div class="col-lg-8">
        <h1>Design logo using Adobe Illustrator and Photoshop.</h1>

        <div class="d-sm-flex justify-content-between align-items-center mb-2">
          <div class="d-flex align-items-center mb-3">
            <div class="avatar">
              <img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/05.jpg"
                alt="avatar"
              />
            </div>

            <div class="ms-2">
              <p class="mb-0 small">With</p>
              <h5 class="mb-0">Lori Stevens</h5>
            </div>
          </div>

          <div class="mt-2 mt-sm-0">
            <p class="text-danger mb-0">
              <i class="bi bi-clock-history me-2"></i>Class Start in: 22 Days
              15:01:30
            </p>
            <a
              href="javascript:void(0);"
              class="btn btn-link mb-0 p-0 text-primary-hover text-decoration-underline text-reset"
              >Notify me</a
            >
          </div>
        </div>
        <p class="mb-0">
          We understand that theory is important to build a solid foundation, we
          understand that theory alone isn't going to get the job done so that's
          why this course is packed with practical hands-on examples that you
          can follow step by step.
        </p>
      </div>

      <div class="col-lg-4">
        <div class="card card-body bg-light p-5 text-center">
          <h5 class="fw-normal">One-Time Payment</h5>
          <h2>{{ currency }}557</h2>
          <a href="javascript:void(0);" class="btn btn-blue mb-2">Enroll now</a>

          <ul class="avatar-group mb-1 justify-content-center">
            <li class="avatar avatar-sm">
              <img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/01.jpg"
                alt="avatar"
              />
            </li>
            <li class="avatar avatar-sm">
              <img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/02.jpg"
                alt="avatar"
              />
            </li>
            <li class="avatar avatar-sm">
              <img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/03.jpg"
                alt="avatar"
              />
            </li>
            <li class="avatar avatar-sm">
              <img
                class="avatar-img rounded-circle"
                src="assets/images/avatar/04.jpg"
                alt="avatar"
              />
            </li>
          </ul>

          <p class="mb-0">Join hundreds of students.</p>
        </div>
      </div>

      <div class="col-md-12 text-center mx-auto">
        <div
          class="card card-body shadow p-2 h-200px h-sm-400px position-relative overflow-hidden"
          style="
            background-image: url(assets/images/about/28.jpg);
            background-position: center left;
            background-size: cover;
          "
        >
          <div class="bg-overlay bg-dark opacity-6"></div>

          <div class="card-img-overlay">
            <lightgallery
              [settings]="settings"
              class="position-absolute top-50 start-50 translate-middle"
            >
              <a
                href="https://www.youtube.com/embed/tXHviS-4ygo"
                class="btn btn-lg text-danger btn-round btn-white-shadow mb-0"
                data-glightbox=""
                data-gallery="video-tour"
              >
                <i class="fas fa-play"></i>
              </a>
            </lightgallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
