<div class="row g-3">
  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">
          School or college name <span class="text-danger">*</span>
        </h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="collegeName" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">
          Year of passing <span class="text-danger">*</span>
        </h6>
      </div>
      <div class="col-lg-8">
        <select
          selectFormInput
          class="form-select js-choice z-index-9 border-0 bg-light"
          aria-label=".form-select-sm"
        >
          <option value="">Year</option>
          <option>1990</option>
          <option>1991</option>
          <option>1992</option>
          <option>1993</option>
          <option>1994</option>
          <option>1995</option>
          <option>1996</option>
          <option>1997</option>
          <option>1998</option>
          <option>1999</option>
          <option>2000</option>
          <option>2001</option>
          <option>2002</option>
          <option>2003</option>
          <option>2004</option>
          <option>2005</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">
          Board of university <span class="text-danger">*</span>
        </h6>
      </div>
      <div class="col-lg-8">
        <input type="text" class="form-control" id="board" />
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0 align-items-center">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">Class grad <span class="text-danger">*</span></h6>
      </div>
      <div class="col-lg-8">
        <select
          selectFormInput
          class="form-select js-choice z-index-9"
          aria-label=".form-select-sm"
        >
          <option value="">Select grad</option>
          <option>Distinction</option>
          <option>First class</option>
          <option>Second class</option>
          <option>Third class</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row g-xl-0">
      <div class="col-lg-4">
        <h6 class="mb-lg-0">
          School or college address <span class="text-danger">*</span>
        </h6>
      </div>
      <div class="col-lg-8">
        <textarea class="form-control" rows="3" placeholder=""></textarea>
      </div>
    </div>
  </div>
</div>
