<div class="card mb-0 mb-md-4">
  <div class="row g-0 align-items-center">
    <div class="col-md-5">
      <img
        src="assets/images/instructor/01.jpg"
        class="img-fluid rounded-3"
        alt="instructor-image"
      />
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h3 class="card-title mb-0">Louis Ferguson</h3>
        <p class="mb-2">Instructor of Marketing</p>

        <ul class="list-inline mb-3">
          <li class="list-inline-item me-3">
            <a href="javascript:void(0);" class="fs-5 text-twitter"
              ><i class="fab fa-twitter-square"></i
            ></a>
          </li>
          <li class="list-inline-item me-3 ms-1">
            <a href="javascript:void(0);" class="fs-5 text-instagram"
              ><i class="fab fa-instagram-square"></i
            ></a>
          </li>
          <li class="list-inline-item me-3 ms-1">
            <a href="javascript:void(0);" class="fs-5 text-facebook"
              ><i class="fab fa-facebook-square"></i
            ></a>
          </li>
          <li class="list-inline-item me-3 ms-1">
            <a href="javascript:void(0);" class="fs-5 text-linkedin"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="list-inline-item ms-1">
            <a href="javascript:void(0);" class="fs-5 text-youtube"
              ><i class="fab fa-youtube-square"></i
            ></a>
          </li>
        </ul>

        <ul class="list-inline">
          <li class="list-inline-item">
            <div class="d-flex align-items-center me-3 mb-2">
              <span
                class="icon-md bg-orange bg-opacity-10 text-orange rounded-circle"
                ><i class="fas fa-user-graduate"></i
              ></span>
              <span class="h6 fw-light mb-0 ms-2">9.1k</span>
            </div>
          </li>
          <li class="list-inline-item ms-1">
            <div class="d-flex align-items-center me-3 mb-2">
              <span
                class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"
                ><i class="fas fa-star"></i
              ></span>
              <span class="h6 fw-light mb-0 ms-2">4.5</span>
            </div>
          </li>
          <li class="list-inline-item ms-1">
            <div class="d-flex align-items-center me-3 mb-2">
              <span
                class="icon-md bg-danger bg-opacity-10 text-danger rounded-circle"
                ><i class="fas fa-play"></i
              ></span>
              <span class="h6 fw-light mb-0 ms-2">29 Courses</span>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="d-flex align-items-center me-3 mb-2">
              <span
                class="icon-md bg-info bg-opacity-10 text-info rounded-circle"
                ><i class="fas fa-comment-dots"></i
              ></span>
              <span class="h6 fw-light mb-0 ms-2">205</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h5 class="mb-3">About Instructor</h5>
<p class="mb-3">
  Fulfilled direction use continual set him propriety continued. Saw met
  applauded favorite deficient engrossed concealed and her. Concluded boy
  perpetual old supposing. Farther related bed and passage comfort civilly.
  Dashboard see frankness objection abilities. As hastened oh produced prospect
  formerly up am. Placing forming nay looking old married few has. Margaret
  disposed of add screened rendered six say his striking confined.
</p>
<p class="mb-3">
  As it so contrasted oh estimating instrument. Size like body someone had. Are
  conduct viewing boy minutes warrant the expense? Tolerably behavior may admit
  daughters offending her ask own. Praise effect wishes change way and any
  wanted.
</p>

<div class="col-12">
  <ul class="list-group list-group-borderless mb-0">
    <li class="list-group-item pb-0">
      Mail ID:<a href="javascript:void(0);" class="ms-2">hello&#64;email.com</a>
    </li>
    <li class="list-group-item pb-0">
      Web:<a href="javascript:void(0);" class="ms-2">https://eduport.com</a>
    </li>
  </ul>
</div>
