<index3-topbar />

<main>
  <!-- =======================
Main Banner START -->
  <index3-banner />
  <!-- =======================
Main Banner END -->

  <!-- =======================
Course slider START -->
  <index3-course />
  <!-- =======================
Course slider END -->

  <!-- =======================
User login content START -->
  <index3-user-login />
  <!-- =======================
User login content END -->

  <!-- =======================
Trending course START -->
  <index3-trending-course />
  <!-- =======================
Trending course END -->

  <!-- =======================
Popular course START -->
  <index3-popular-course />
  <!-- =======================
Popular course END -->

  <!-- =======================
Instructor START -->
  <index3-instructor />
  <!-- =======================
Instructor END -->

  <!-- =======================
Action box START -->
  <index3-action-box />
  <!-- =======================
Action box END -->

  <!-- =======================
Client START -->
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center my-4">
        <div class="col-12">
          <div class="tiny-slider arrow-round">
            <app-client-slider />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- =======================
Client END -->
</main>

<app-footer [mode]="'dark'" />
