<div class="card border bg-transparent rounded-3 mt-4">
  <div class="card-header bg-transparent border-bottom">
    <h3 class="mb-0">Student quiz result</h3>
  </div>

  <div class="card-body">
    <div class="row g-3 align-items-center justify-content-between mb-4">
      <div class="col-md-8">
        <form class="rounded position-relative">
          <input
            class="form-control pe-5 bg-transparent"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
            type="submit"
          >
            <i class="fas fa-search fs-6"></i>
          </button>
        </form>
      </div>

      <div class="col-md-3">
        <form>
          <select
            class="form-select js-choice border-0 z-index-9 bg-transparent"
            aria-label=".form-select-sm"
          >
            <option value="">Sort by</option>
            <option>Free</option>
            <option>Newest</option>
            <option>Oldest</option>
          </select>
        </form>
      </div>
    </div>

    <div class="table-responsive border-0">
      <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
        <thead>
          <tr>
            <th scope="col" class="border-0 rounded-start">Student name</th>
            <th scope="col" class="border-0">Course name</th>
            <th scope="col" class="border-0">Date</th>
            <th scope="col" class="border-0">Points</th>
            <th scope="col" class="border-0 rounded-end">Action</th>
          </tr>
        </thead>

        <tbody>
          @for (item of quizList; track $index) {
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm me-2">
                    <img [src]="item.avatar" class="rounded" alt="" />
                  </div>
                  <div>
                    <h6 class="mb-0">
                      <a href="javascript:void(0);">{{ item.name }}</a>
                    </h6>
                  </div>
                </div>
              </td>

              <td>
                <h6 class="table-responsive-title mt-2 mt-md-0 mb-0">
                  <a href="javascript:void(0);">{{ item.course }}</a>
                </h6>
              </td>

              <td>{{ item.date }}</td>

              <td>{{ item.progress }}/500</td>

              <td>
                <a
                  href="javascript:void(0);"
                  class="btn btn-success-soft btn-round mb-0"
                  placement="top"
                  ngbTooltip="Message"
                  ><i class="far fa-envelope"></i
                ></a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div
      class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3"
    >
      <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>

      <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
        <ngb-pagination
          [collectionSize]="30"
          [page]="2"
          size="sm"
          class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
        >
          <ng-template ngbPaginationPrevious
            ><i class="fas fa-angle-left"></i>
          </ng-template>
          <ng-template ngbPaginationNext
            ><i class="fas fa-angle-right"></i>
          </ng-template>
        </ngb-pagination>
      </nav>
    </div>
  </div>
</div>
