<div class="row">
  <div class="col-12 mb-3">
    <h1 class="h3 mb-2 mb-sm-0">Dashboard</h1>
  </div>
</div>

<admin-dashboard-counter />

<div class="row g-4 mb-4">
  <div class="col-xxl-8">
    <admin-dashboard-earning-chart />
  </div>

  <div class="col-xxl-4">
    <admin-dashboard-support-request />
  </div>
</div>

<div class="row g-4">
  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-top-instructors />
  </div>

  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-notice-board />
  </div>

  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-traffic-sources />
  </div>
</div>
