<section
  class="bg-dark align-items-center d-flex"
  style="
    background: url(assets/images/pattern/04.png) no-repeat center center;
    background-size: cover;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">Course List Minimal</h1>

        <div class="d-flex">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Courses
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
