<div class="row mt-4">
  <div class="col-xl-10 mx-auto">
    <div
      class="card overflow-hidden h-200px h-sm-300px h-lg-400px h-xl-500px rounded-3 text-center"
      style="
        background-image: url(assets/images/event/10.jpg);
        background-position: center left;
        background-size: cover;
      "
    >
      <div class="bg-overlay bg-dark opacity-4"></div>
      <div class="card-img-overlay d-flex align-items-center p-2 p-sm-4">
        <div class="w-100 my-auto">
          <div class="row justify-content-center">
            <lightgallery [settings]="settings" class="col-12">
              <a
                href="https://www.youtube.com/embed/tXHviS-4ygo"
                class="btn btn-lg text-danger btn-round btn-white-shadow stretched-link position-static mb-0"
                data-glightbox=""
                data-gallery="video-tour"
              >
                <i class="fas fa-play"></i>
              </a>
            </lightgallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
