<div class="card bg-transparent card-body p-0">
  <div class="row d-flex justify-content-between">
    <div class="col-auto mt-4 mt-md-0">
      <div class="avatar avatar-xxl mt-n3">
        <img
          class="avatar-img rounded-circle border border-white border-3 shadow"
          src="assets/images/avatar/01.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="col d-md-flex justify-content-between align-items-center mt-4">
      <div>
        <h1 class="my-1 fs-4">
          Lori Stevens <i class="bi bi-patch-check-fill text-info small"></i>
        </h1>
        <ul class="list-inline mb-0">
          <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
            <i class="fas fa-star text-warning me-2"></i>4.5/5.0
          </li>
          <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0 ms-1">
            <i class="fas fa-user-graduate text-orange me-2"></i>12k Enrolled
            Students
          </li>
          <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0 ms-1">
            <i class="fas fa-book text-purple me-2"></i>25 Courses
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center mt-2 mt-md-0">
        <a routerLink="/instructor/create-course" class="btn btn-success mb-0"
          >Create a course</a
        >
      </div>
    </div>
  </div>
</div>
